/* File by Akhila */
body {
  background-color: #eef1ff;
  height: 100%;
}

h5 {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  font-family: "Sofia", sans-serif;
}

.split {
  height: 100%;
  width: 45%;
  position: fixed;
  z-index: 1;
  top: 50;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
  background-color: #b1b2ff;
  border-inline-style: solid;
}

.centered {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loginphoto {
  max-width: 2000px;
  max-height: 2000px;
}

.logininfo {
  width: 500px;
  height: 600px;
  background-color: #d2daff;
  border-style: solid;
}

.inputs {
  width: 300px;
}

.inputboxes {
  padding: 20px;
  padding-top: 60px;
}

.signbutton {
  /* background-color: #929ed9; */

  align-items: center;
}

.passpad {
  padding-top: 25px;
}

.logodisplay {
  padding-left: 5px;
  width: 80px;
  height: 60px;
}

.Loginform {
  align-items: center;
}

.logincontainer {
  position: relative;
  top: 30%;
  left: 30%;
  right: 30%;
  width: 200px;
}

.logo {
  padding-left: 20px;
  width: 75px;
  height: 75px;
}

.buttons {
  padding-top: 25px;
  padding-left: 50px;
}