.leftContainer img {
  padding-left: 5px;
  width: 60px;
  height: 60px;
}

.bgcolor {
  background-color: #ffb9b9;
}

.rightContainer {
  justify-content: right;
}

.leftContainer {
  width: 65%;
}

.invis {
  padding: 20px;
}

.uname {
  width: fit-content;
<<<<<<< Updated upstream
}
=======
}

.creposts {
  background-color: transparent;
}
>>>>>>> Stashed changes
